
body {
	font-family:gil,"trebuchet MS",helvetica,sans-serif;
	background-color: #B1AB9D;
	}

form {
 padding:10px 5px;
 background-color:#B1AB9D;
 width:90%;
 max-width:550px;
}

label {
	display:block;
	margin:10px 0 5px 0;
}

input + label {display:inline}

legend
{
color: #fff;
background-color: #97293F;
padding: 5px 10px;
font-weight:bold;
border-radius:5px;
} 

fieldset {
border:2px solid #97293F;	
background-color:#F5EED7;
border-radius:5px;
	
}
   input[type=checkbox]:checked + label 
   {
     color: green;
     font-weight: bold;
   }
input[type=checkbox]:disabled + label 
   {
     color: #555;
     font-style: italic;
   }

display: inline (sorban helyezi el az infokat)
		 block (egymás alatt)
		 inherit (orokli az elődjét)
padding: belső kitöltés 
