.container {
    background-color: aqua;
}

.container-fluid {
    background-color: magenta;
}

.kek {
    background-color: aqua;
    font-weight: bold;
}

.magenta {
    background-color: magenta;
    color: white;
    font-weight: bold;
}

.yellow {
    background-color: yellow;
    color: FFFFFF;
}