@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
h1 {
    font-family: 'Reggae One', cursive;
}

.container {
    background-color: aqua;
}

.container-fluid {
    background-color: yellow;
}